 <%- include ('../partials/header') %>
  <%- include ('../partials/side_bar') %>
            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Dashboard</h2>
                        
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <div class="card">
                        <div class="card-header">
                            <h2>Sales Statistics </h2>
                            
                     
                        </div>
                        
                        <div class="card-body">
                            <div class="chart-edge">
                                <div id="curved-line-chart" class="flot-chart "></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="mini-charts">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-cyan">
                                    <div class="clearfix">
                                        <div class="chart stats-bar"></div>
                                        <div class="count">
                                            <small>Users</small>
                                            <h2><%=data.users %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-lightgreen">
                                    <div class="clearfix">
                                        <div class="chart stats-bar-2"></div>
                                        <div class="count">
                                            <small>Orders</small>
                                            <h2><%=data.orders %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-orange">
                                    <div class="clearfix">
                                        <div class="chart stats-line"></div>
                                        <div class="count">
                                            <small>Payments</small>
                                            <h2>$ <%=data.payments %></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 col-md-3">
                                <div class="mini-charts-item bgm-bluegray">
                                    <div class="clearfix">
                                        <div class="chart stats-line-2"></div>
                                        <div class="count">
                                            <small>Support Tickets</small>
                                            <h2>23,856</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="dash-widgets">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div id="site-visits" class="dash-widget-item bgm-teal">
                                    <div class="dash-widget-header">
                                        <div class="p-20">
                                            <div class="dash-widget-visits"></div>
                                        </div>
                                        
                                        <div class="dash-widget-title">For the past 30 days</div>
                                        
                                        <ul class="actions actions-alt">
                                            <li class="dropdown">
                                                <a href="" data-toggle="dropdown">
                                                    <i class="zmdi zmdi-more-vert"></i>
                                                </a>
                                                
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="">Refresh</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Manage Widgets</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Widgets Settings</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="p-20">
                                        
                                        <%
                                        var pending = 0;
                                        var completed = 0;
                                        var confirmed = 0;
                                        var cancelled = 0;
                                        var processing = 0;

                                        for(i=0;i<data.paymentStatus.length;i++){
                                            if(data.paymentStatus[i].progressStatus == 0){
                                               pending = data.paymentStatus[i].orders; 
                                            }else if(data.paymentStatus[i].progressStatus == 1){
                                                confirmed = data.paymentStatus[i].orders;
                                            }else if(data.paymentStatus[i].progressStatus == 2){
                                                processing = data.paymentStatus[i].orders;
                                            }else if(data.paymentStatus[i].progressStatus == 3){
                                                cancelled = data.paymentStatus[i].orders;
                                            }else if(data.paymentStatus[i].progressStatus == 5){
                                                completed = data.paymentStatus[i].orders;
                                            }
                                        } 
                                        %> 

                                        <small>Pending Orders</small>
                                        <h3 class="m-0 f-400"><%=pending %></h3>
                                        
                                        <br/>
                                        
                                        <small>Confirmed</small>
                                        <h3 class="m-0 f-400"><%=confirmed %></h3>
                                        
                                        <br/>
                                        
                                        <small>Processing</small>
                                        <h3 class="m-0 f-400"><%=processing %></h3>
                                        <br/>

                                        <small>Completed</small>
                                        <h3 class="m-0 f-400"><%=completed %></h3>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div id="pie-charts" class="dash-widget-item">
                                    <div class="bgm-pink">
                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title">Email Statistics</div>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                        
                                        <div class="text-center p-20 m-t-25">
                                            <div class="easy-pie main-pie" data-percent="75">
                                                <div class="percent">45</div>
                                                <div class="pie-title">Total Emails Sent</div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="p-t-20 p-b-20 text-center">
                                        <div class="easy-pie sub-pie-1" data-percent="56">
                                            <div class="percent">56</div>
                                            <div class="pie-title">Bounce Rate</div>
                                        </div>
                                        <div class="easy-pie sub-pie-2" data-percent="84">
                                            <div class="percent">84</div>
                                            <div class="pie-title">Total Opened</div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-6">
                                <div class="dash-widget-item bgm-lime">

                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title text-center text-white">Weekly Orders</div>
                                        </div>

                                        <div class="text-center p-20 m-t-25">
                                            <h2 class="card_body"><%=data.weeklyOrders %></h2>
                                        </div>

                                        <div class="dash-widget-header">
                                            <div class="dash-widget-title text-center text-white">Weekly Payments</div>
                                        </div>

                                        <div class="text-center p-20 m-t-25">
                                            <h2 class="card_body">
                                                <%=data.weeklyPayments %>
                                            </h2>
                                        </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </section>
        <script>
        $(function() {
        $('#hometab').addClass('active');
        $('#hometab a[href^="<%- adminpath %>"]').addClass('active');
    });
        </script>