 <%- include ('../partials/header') %>
<style>
.lc-block{
        margin-top: 17%;
}
</style>
 <body class="login-content">
        <!-- Login -->
        <form id="loginform" role="form" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="lc-block toggled" id="l-login">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" autocomplete="off" class="form-control" name="email" id="email" placeholder="Username">
                </div>
            </div>
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Keep me signed in
                </label>
            </div>
            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            <ul class="login-navigation">
                <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
            </ul>
        </div>
        </form>
        
        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password">
            <p class="text-left">FORGOT PASSWORD!</p>
            <form id="forgotPassword" role="form" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="email" id="name" name="email" class="form-control" placeholder="Email Address">
                </div>
            </div>
            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
            </form>
            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green">Login</li>
            </ul>
        </div>
<!-- /.login-box -->
 
<%- include ('../partials/script') %>
<%- include('../partials/commonJs'); -%>
<script type="text/javascript">
$(document).ready(function () {

  $('#loginform').validate({
    rules: {
      email: {
        required: true,
        email: true,
      },
      password: {
        required: true
      },
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a vaild email address"
      },
      password: {
        required: "Please provide a password"
      },
    },
    submitHandler: function (form) {
    $("#loading-img").show();
    var tempform = $('#loginform');
    var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>login',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
                   showToastSuccess( response.message)
                   setTimeout(function(){ $("#loading-img").hide(); window.location.reload();},2500);
                
            }
            else{
               $("#loading-img").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });


  $('#forgotPassword').validate({
    rules: {
      email: {
        required: true,
        email: true,
      }
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a vaild email address"
      }
    },
    submitHandler: function (form) {
    $("#loading-img").show();
    var tempform = $('#forgotPassword');
    var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>forgotPassword',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
                   showToastSuccess( response.message)
                   setTimeout(function(){ $("#loading-img").hide(); window.location.reload();},2500);
                
            }
            else{
               $("#loading-img").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });
});
</script>
 </body>
</html>