 <%- include ('../partials/header') %>
  <%- include ('../partials/side_bar') %>
    <section id="content">
                <div class="container">
                    
                    <div class="card" id="profile-main">
                        <div class="pm-overview c-overflow">
                            <div class="pmo-pic">
                                <div class="p-relative">
                                    <a href="">
                                        <img class="img-responsive" src="<%- userData.logo1 %>" alt=""> 
                                    </a>
                                </div>
                            </div>
                            
                            <div class="pmo-block pmo-contact hidden-xs">
                                <h2>Contact</h2>
                                
                                <ul>
                                    <li><i class="zmdi zmdi-phone"></i> <%- userData.countryCode %> <%- userData.phoneNumber %></li>
                                    <li><i class="zmdi zmdi-email"></i> <%- userData.email %></li>
                                    <li>
                                        <i class="zmdi zmdi-pin"></i>
                                        <address class="m-b-0 ng-binding">
                                            <%- userData.address1 %>
                                        </address>
                                    </li>
                                    <li>
                                        <i class="zmdi zmdi-pin"></i>
                                        <address class="m-b-0 ng-binding">
                                            <%- userData.address2 %>
                                        </address>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        
                        <div class="pm-body clearfix">
                            <ul class="tab-nav tn-justified">
                                <li class="active waves-effect"><a href="profile-about.html">About</a></li>
                            </ul>
                            
                            
                            <div class="pmb-block">
                                <div class="pmbb-header">
                                    <h2><i class="zmdi zmdi-account m-r-5"></i> Basic Details </h2>
                                   
                                </div>
                                <div class="pmbb-body p-l-30">
                                    <div class="pmbb-view">
                                       <form role="form" method="POST" id="edit_profile" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="company_name">Company Name</label>
                                                <input type="text" name="companyName" value="<%- userData.companyName %>" placeholder="Company Name" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="email" name="email" value="<%- userData.email %>" placeholder="Email" class="form-control">
                                            </div>
                                            <input type="hidden" value="+91" name="countryCode" maxlength="30" id="countryCode" class="form-control" placeholder="last Name">
                                            <input type="hidden" value="" name="websiteLink" id="websiteLink" class="form-control" >
                                            <div class="form-group">
                                             <label for="address1">Phone Number</label>
                                                <input type="text" class="form-control" value="<%- userData.phoneNumber %>" name="phoneNumber" id="phoneNumber" placeholder="Contact Number*">
                                            </div>
                                            <div class="form-group">
                                                <label for="address1">Address 1</label>
                                                <input type="text" value="<%- userData.address1 %>" name="address1" id="address1" placeholder="Address 1" class="form-control">
                                                <input type="hidden" name="address1lat" id="address1lat" placeholder="Address 1" class="form-control">
                                                <input type="hidden" name="address1long" id="address1long" placeholder="Address 1" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Address 2</label>
                                                <input type="text" value="<%- userData.address2 %>" name="address2" id="address2" placeholder="Address 2" class="form-control">
                                                <input type="hidden" name="address2lat" id="address2lat" placeholder="Address 1" class="form-control">
                                                <input type="hidden" name="address2long" id="address2long" placeholder="Address 1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6"> 
                                                <div class="input-group">                     
                                                    <p class="f-500 c-black m-b-20">Logo 1</p>
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                                            <div>
                                                                <span class="btn btn-info btn-file">
                                                                    <span class="fileinput-new">Select image</span>
                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="image" id="image">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"> 
                                                <div class="input-group">                     
                                                    <p class="f-500 c-black m-b-20">Logo 2</p>
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                                            <div>
                                                                <span class="btn btn-info btn-file">
                                                                    <span class="fileinput-new">Select image</span>
                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="image2" id="image2">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6"> 
                                                <div class="input-group">                     
                                                    <p class="f-500 c-black m-b-20">Logo 3</p>
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                                            <div>
                                                                <span class="btn btn-info btn-file">
                                                                    <span class="fileinput-new">Select image</span>
                                                                    <span class="fileinput-exists">Change</span>
                                                                    <input type="file" name="image3" id="image3">
                                                                </span>
                                                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-t-30 m-b-10 text-center">
                                            <button class="btn btn-primary btn-sm waves-effect">Save</button>
                                            <a href="<%- adminpath %>"><button type="button" class="btn btn-link btn-sm waves-effect">Cancel</button></a>
                                        </div>
                                       </form>
                                    </div>
                                </div>
                            </div>
                            
                            
 
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <script>
        $(document).ready(function () {
        $(function() {
  $('#userprofiletab').addClass('active toggled');
  $('#profiledrop').css('display','block');
  $('#profiletab').addClass('active');
});
            new google.maps.event.addDomListener(window, 'load', initialize);
            $('#edit_profile').validate({
            rules: {
              email: {
                required: true,
                email: true,
              },
              companyName: {
                required: true
              },
              address1: {
                required: true
              },
              address2: {
                required: true
              },
              image: { required: true, accept: "image/jpg,image/jpeg,image/png"},
              image2: { required: true, accept: "image/jpg,image/jpeg,image/png"},
              image3: { required: true, accept: "image/jpg,image/jpeg,image/png"},
            },
            messages: {
              email: {
                required: "Please enter a email address",
                email: "Please enter a vaild email address"
              },
              companyName: {
                required: "Please provide a companyName"
              },
              address1: {
                required: "Please provide a address 1"
              },
              address2: {
                required: "Please provide a address 2"
              },
              image: {required: "This field is required", accept: 'Not an image!'},
              image2: {required: "This field is required", accept: 'Not an image!'},
              image3: {required: "This field is required", accept: 'Not an image!'},
            },
            submitHandler: function (form) {
            $(".page-loader").show();
            var tempform = $('#edit_profile');
            var form_data = new FormData(tempform[0]);
              $.ajax({
                    type: 'POST',
                    url: '<%-adminpath%>profile/companyUpdate',
                    dataType: 'json',
                    data: form_data,
                    contentType:false,
                    cache:false,
                    processData:false,
                    success: function (response) {
                    console.log(response);
                    if (response.code == '200') {
                           showToastSuccess( response.message);
                           $(".page-loader").hide();
                           setTimeout(function(){ window.location.reload(); },2500);
                        
                    }
                    else{
                       $(".page-loader").hide();
                        showToastError(response.message)
                    }
                  }
              });
            }
          });
        });
        function initialize() {
            //pickup
            var input = document.getElementById('address1');
            var autocomplete = new google.maps.places.Autocomplete(input);
            new google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                var componenents= place.address_components;
                var lat =  place.geometry.location.lat();
                var lng =  place.geometry.location.lng();
                document.getElementById('address1lat').value = lat.toFixed(6);
                document.getElementById('address1long').value = lng.toFixed(6);
            });

            //drop Off
            var input2 = document.getElementById('address2');
            var autocomplete2 = new google.maps.places.Autocomplete(input2);
            new google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                var place = autocomplete2.getPlace(); 
                var lat2 =  place.geometry.location.lat();
                var lng2 =  place.geometry.location.lng();
                document.getElementById('address2lat').value = lat2.toFixed(6);
                document.getElementById('address2long').value = lng2.toFixed(6);
            });
        }
        </script>