<!-- AUI Framework -->
<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
    <div class="container">
 
    <div>
    <div class="card">
    
        <form  role="form" method="POST" id="addUser"  enctype="multipart/form-data">
        <input type="hidden"  name="bannerId" id="bannerId"  value="<%-data.id%>"  />

            <div class="card">
                <div class="card-header">
                    <h2>Edit Banner</h2>
                </div>
                <div class="row" style="margin-left:30px">
                    <label>Uploaded Banner </label>
                    <div class="form-group ">
                        <img id="myIcon" src="<%=data.url%>" alt="Banner" style="width:50%;max-width:100px">
                    </div>
                </div>
                <div class="card-body card-padding">
                <div class="col-sm-6"> 
                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-10"> Name <span class="c-red m-l-3" >*</span> </p>
                        <div class="fg-line">
                        <input type="text" id="name" placeholder="Banner Name" value="<%-data.name%>" id="name" name="name"  minlength="2" maxlength="100"  class="form-control" />
                        </div> 
                    </div>
                     <br/>
                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-10">Choose Order  <span class="c-red m-l-3" >*</span> </p>
                        <select data-placeholder="Choose Order"  class="chosen form-control" name="order" id="category">
                            <%for (var k=1;k<=10;k++){%>
                                <option <%if(data.orderby==k){%>selected <%}%> value="<%-k%>" /><%-k%> 
                            <%}%>
                        </select>                    
                    </div>
                     <br/>

                </div>
                    <div class="row">
                       
                        <div class="form-group fg-line col-md-6">
                            <p class="f-500 c-black m-b-15"> Upload Banner Image  <span class="c-red m-l-3" >*</span> </p>
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new"> Upload Banner Image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file"  id="banner" name="banner">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group fg-line m-t-20">
                        <button class="btn btn-primary btn-sm waves-effect">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>
<script type="text/javascript">
$(function() {
  $('#appsetting').addClass('active toggled');
  $('#Bannertab').addClass('active');
});
 $('#addUser').validate({
    ignore: ":hidden:not(select)",
    rules: {
      name: {
        required: true
      },
     
      order: {
        required: true
      },
       banner: { accept: "image/jpg,image/jpeg,image/png"},
      
    },

    messages: {
      name: {
        required: "This field is required",
      },
       order: {
        required: "This field is required",
      },
       banner: {accept: 'Not an image!'},
    },
    submitHandler: function (form) {
        var tempform = $('#addUser');
        var form_data = new FormData(tempform[0]);
        $('#loading1').show()
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>banner/update',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
                $('#loading1').hide()

                $(".overlay").hide();
                if (response.code == 200) {
              
                    showToastSuccess(response.message)

                     window.location.href="<%-adminpath%>banner";
                   
                } else {
                    showToastError(response.message)
                }
            },

            error: function(response)
            {
                $('#loading1').hide()

               var errorResponse=JSON.parse(response.responseText)
               showToastError(errorResponse.message)


            }
        });
    }
  });
</script>
    









