<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Add Staff</h2>
    </div>
    
    <div class="card-body card-padding">
        <form id="addUser" role="form" method="POST" enctype="multipart/form-data">
         <input type="hidden" value="+91" name="countryCode" maxlength="30" id="countryCode" class="form-control" placeholder="last Name">
            <div class="row">
                <div class="col-sm-6">                       
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text" class="form-control" maxlength="30" id="firstName" name="firstName" placeholder="First Name*">
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-local-phone"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control input-mask" data-mask="0000000000" name="phoneNumber" id="phoneNumber" placeholder="Contact Number*">
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                        <div class="fg-line">
                            <input type="email" name="email" maxlength="60" id="email" class="form-control" placeholder="Email Address*">
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                         <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text"  maxlength="30" name="idProofName" id="idProofName" class="form-control" placeholder="idProof Name*">
                        </div>
                    </div>
                     <br/>  
                    <div class="input-group"  style="margin-left: 37px;">
                        <p class="f-500 c-black m-b-20">Upload Id Proof*</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file m-r-10">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="idProof" name="idProof">
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>      
                    </div>   
                    <br/>
                    <br/>  
                    <div class="input-group"  style="margin-left: 37px;">
                        <p class="f-500 c-black m-b-20">Cover Image*</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file m-r-10">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="coverImage" name="coverImage">
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>      
                    </div>       
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                         <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text" name="lastName" maxlength="30" id="lastName" class="form-control" placeholder="last Name*">
                        </div>
                    </div>          
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                        <div class="fg-line">    
                            <input type="text" class="form-control" maxlength="255" name="address" id="address" placeholder="Home Address*">
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                        <div class="fg-line">    
                            <div class="dtp-container fg-line">
                                <input type='text' class="form-control" autocomplete="off" name="dob" id="dob" placeholder="DOB*">
                            </div>
                        </div>
                    </div>
                    <br/> 
                    <div class="input-group">
                      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">  
                        <select class="selectpicker" required  name="roletype" id="roletype" class="form-control" placeholder="Select Role">
                            <option value="" selected disabled>Select Role*</option>
                            <% for(var i=0;i<roles.length;i++) { %>
                            <option value="<%= roles[i].id %>"><%= roles[i].userType %></option>
                            <% } %>
                        </select>
                        </div>
                    </div>
                   
                </div>
                <div class="col-sm-6"> 
                    <br/>  
                    <div class="input-group" style="margin-left: 20px;">                     
                        <p class="f-500 c-black m-b-20">Profile Image*</p>
                    
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="image" id="image">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30 text-center">
                    <button class="btn btn-primary btn-sm waves-effect">Save</button>
                    <a href="<%- adminpath %>employees"><button type="button" class="btn btn-link btn-sm waves-effect">Cancel</button></a>
                </div>
            </div>

        </form>
    </section>
</section>
<script type="text/javascript">
$(document).ready(function () {
var todayDate = new Date().getDate();
    $('#dob').datepicker({
       maxDate: new Date(new Date().setDate(todayDate - 1)),
       autoclose: true,
        changeMonth: true, 
        changeYear: true, 
        yearRange: '1900:+0'
    });
    $(function() {
        $('#employeeTab').addClass('active');
        $('#employeeTab a[href^="<%- adminpath %>employees"]').addClass('active');
    });

  $('#addUser').validate({
    ignore: ":hidden:not(select)",
    rules: {
      email: {
        required: true,
        email: true,
      },
      phoneNumber: {
        required: true
      },
      firstName: {
        required: true
      },
      lastName: {
        required: true
      },
      address: {
        required: true
      },
      dob: {
        required: true
      },
      roletype: {
        required: true
      },
      idProofName: {
        required: true
      },
      image: { required: true, accept: "image/jpg,image/jpeg,image/png"},
      idProof: { required: true, accept: "image/jpg,image/jpeg,image/png"},
      coverImage: { required: true, accept: "image/jpg,image/jpeg,image/png"},
    },
    messages: {
      email: {
        required: "Please enter a email address",
        email: "Please enter a vaild email address"
      },
      phoneNumber: {
        required: "Please provide a phoneNumber"
      },
      firstName: {
        required: "Please provide a First Name"
      },
      lastName: {
        required: "Please provide a Last Name"
      },
      address: {
        required: "Please provide a address"
      },
      dob: {
        required: "Please select a dob"
      },
      roletype: {
        required: "Please select a role"
      },
      idProofName: {
        required: "Please provide a id proof"
      },
      image: {required: "This field is required", accept: 'Not an image!'},
      idProof: {required: "This field is required", accept: 'Not an image!'},
      coverImage: {required: "This field is required", accept: 'Not an image!'},
    },
    submitHandler: function (form) {
    $(".page-loader").show();
    var tempform = $('#addUser');
    var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>employees/add',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
                   showToastSuccess( response.message);
                   $(".page-loader").hide();
                   setTimeout(function(){ window.location.href="<%-adminpath%>employees"; },2500);
                
            }
            else{
               $(".page-loader").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });
});
</script>
 </body>
</html>