<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<style type="text/css">
  .bs-item {
    background: #fff;
    margin-bottom: 13px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
  }
</style>
    <section id="content">
        <div class="container">
          <div class="m-b-30">
          <div class="block-header ">
            <div class="row">
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-1 text-uppercase">
                        <b>Total payments</b> :<span id="totalPaymentCount">0 </span>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-2 text-uppercase">
                        <b>Total Payment</b> :  <%-CURRENCY%>&nbsp;<span id="totalPayment">  </span>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-3 text-uppercase">
                        <b>Escrow Payment</b> :  <%-CURRENCY%> &nbsp;<span id="totalEscrowPayment"> 0 </span>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-4 text-uppercase">
                        <b>No. of Success payment</b> :<span id="totalSuccessCount">0</span>&nbsp;&nbsp;&nbsp;<br/>
                         <b>Total Payment</b> : &nbsp;<%-CURRENCY%>&nbsp;<span id="totalSuccessSum"> 0  </span>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-5 text-uppercase">
                        <b class="c-red">No. of Failed payment</b> :<span id="totalFailedCount">0</span> &nbsp;&nbsp;&nbsp;<br/>
                        <b class="c-red">Total Payment</b> :  <%-CURRENCY%>&nbsp;<span id="totalFailedSum"> 0 </span>
                    </div>
                </div>
            </div>
            
             
             
          </div>
             
          </div>
      <div>
            <div class="card">
                <div class="card-header">
                    <div class="pull-left"><h2>PAYMENTS</h2></div>
                </div>
                <table id="data-table-command" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false">ID</th>
                            <th data-column-id="name">Customer Name</th>
                            <th data-column-id="Status">Status</th>
                            <th data-column-id="OrderNo">Order No</th>
                            <th data-column-id="Contact" data-order="desc">Contact</th>
                            <th data-column-id="price">Price (<%-CURRENCY%>)</th>
                            <th data-column-id="payment">Payment Date</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="orderData">
                       
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
        <script type="text/javascript">
        $(function() {
            $('#paymentTab').addClass('active');
            $('#paymentTab a[href^="<%- adminpath %>payment"]').addClass('active');
        }); 

          var grid = $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            if(row.Status == "Success")
                            {
                                return "<div class=\"toggle-switch command-block\" data-row-id=\"" + row.id + "\" data-ts-color=\"green\"><input id=\"ts4\" hidden=\"hidden\" type=\"checkbox\" data-row-id=\"" + row.id + "\" checked> <label for=\"ts4\" class=\"ts-helper\"></label></div>";
                            }else{
                                return "<div class=\"toggle-switch command-unblock\" data-row-id=\"" + row.id + "\" data-ts-color=\"red\"><input id=\"ts2\" hidden=\"hidden\" type=\"checkbox\" data-row-id=\"" + row.id + "\"> <label for=\"ts2\" class=\"ts-helper\"></label></div>";
                            }
                        }
                    }
                }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-block").on("click", function(e)
                {
                    var id = $(this).data("row-id");
                    $.ajax({
                        type: 'POST',
                        url: '<%-adminpath%>payment/status',
                        data: {'id': id,'status': '2'},
                        dataType: 'json',
                        success: function (response) {
                            if (response.code == '200') {
                                   showToastSuccess( response.message);
                                   //$(".page-loader").hide();
                                   setTimeout(function(){ window.location.reload(); },2500);
                            }
                            else{
                               //$(".page-loader").hide();
                                showToastError(response.message)
                            }
                        }
                    });  
                    
                }).end().find(".command-unblock").on("click", function(e)
                {
                    var id = $(this).data("row-id");
                    $.ajax({
                        type: 'POST',
                        url: '<%-adminpath%>payment/status',
                        data: {'id': id,'status': '1'},
                        dataType: 'json',
                        success: function (response) {
                            if (response.code == '200') {
                                   showToastSuccess( response.message);
                                   //$(".page-loader").hide();
                                   setTimeout(function(){ window.location.reload(); },2500);
                            }
                            else{
                               //$(".page-loader").hide();
                                showToastError(response.message)
                            }
                        }
                    });  
                    
                });
            })


function getFilter(currentPage)
    {
        currentPage=currentPage
        var limit=50
        $('#loading1').show()
        var status=$('#status').val();
        var fromDate=$('#fromDate').val();
        var toDate=$('#toDate').val();

        //alert(fromDate)
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>payment/list',
            dataType: 'json',
            data: {'fromDate':fromDate,'transactionStatus':status ,'toDate':toDate,'page':currentPage,'limit':limit},
            success: function (response) {
                $('#loading1').hide()

                if (response.code == '200') {

                    $('#orderData').html('')
                    var data1=response.body.data
                    var data=response.body.data.rows
                    dataList=data
setData(data)
//appendPagination(currentPage,Math.ceil(data1.count/limit))
appendStat(response.body.counts,response.body.escrow)

                }
                else{
                   
                    showToastError(response.message)
                }
            },

            error :function(response)
            {
                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    }
    
  
  function setData(data)
  {
      var row= [];
      for(var t=0;t<data.length;t++)
    {
       var status="Failed"
      var style="display:none" 
      var style1="display:block" 
      if(data[t].transactionStatus=="1") {status="Success"
        style="display:block"
        style1="display:none"
      }
      row.push({
        "id": data[t].order.id,
        "name": data[t].user.firstName+ " "+  data[t].user.lastName,
        "Status": status,
        "OrderNo": data[t].order.orderNo,
        "Contact": data[t].user.countryCode +" "+ data[t].user.phoneNumber,
        "price": data[t].amount,
        "payment": format(new Date(data[t].createdAt))
      })


     // row =row+ '<tr>'+
      //'/<td><a href=<%-adminpath%>orders/view/'+data[t].order.id +' >'+data[t].order.id+' </a></td>'+
     // '<td>'+data[t].user.firstName+ " "+  data[t].user.lastName+' </td>'+
     // '<td>'+status+'</td>'+
     // '<td><a href=<%-adminpath%>orders/view/'+data[t].order.id +' >'+data[t].order.orderNo+' </a></td>'+
     // '<td>'+data[t].user.countryCode +" "+ data[t].user.phoneNumber+'</td>'+
     // '<td>'+data[t].amount  +'</td>'+
     // '<td>'+format(new Date(data[t].createdAt)) +'</td>              '+
    //  '</tr>';
    }
grid.bootgrid('append',row);
     
  }
   
  function appendStat(data,escrow)
  {
    var total=0;
    var count=0;
    var escrow=0
    $('#totalFailedCount').html(0)
    $('#totalFailedSum').html(0)
    $('#totalSuccessCount').html(0)
    $('#totalSuccessSum').html(0)
   // alert(total)
    for(var k=0;k<data.length;k++)
    {

        if(data[k].transactionStatus=="2") {
         $('#totalFailedCount').html(data[k].count)
        $('#totalFailedSum').html(data[k].totalSum)
    }

    if(data[k].transactionStatus=="1") {
         $('#totalSuccessCount').html(data[k].count)
        $('#totalSuccessSum').html(data[k].totalSum)
    }




    count=count+data[k].count
     total=total+data[k].totalSum
    }


    for(var k=0;k<escrow.length;k++)
    {

        if(escrow[k].paymentState=="1")escrow= escrow[k].totalSum
       
    }




    $('#totalPayment').html(total)
    $('#totalPaymentCount').html(count)
    $('#totalEscrowPayment').html(escrow)
  }

var currentPage=1
getFilter(currentPage)            
</script>