<!-- AUI Framework -->



<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
    
    <div class="container">

        <div class="block-header">
           
                <a  class="pull-left" href="javascript:;" onclick="window.history.back()";> <i class="col-md-1 lead zmdi zmdi-arrow-left"></i> </a>
                <div class="lead ">Add New Category</div>
            
        
        </div>


<div>
    <div class="card">


      <form  role="form" onsubmit="return false"  class="card-body bgm-white p-20"  id="adduser" >

                 
        
        
        <div class="card">
            <div class="card-header">
                <h2>Add new category <small>Individual form controls automatically receive some global styling. All textual 'input', 'textarea', and 'select' elements with .form-control are set to width: 100%; by default. Wrap labels and controls in .form-group for optimum spacing.
</small></h2>
            </div>
            
            <div class="card-body card-padding">
                  

                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-10">Choose Category  <span class="c-red m-l-3" >*</span> </p>
                        <select data-placeholder="Choose Category"  class="chosen form-control" name="category" id="category">
                            <option value="" /> 
    
                            <%for(var t=0;t<catData.length;t++){%>
                                <option  value="<%-catData[t].id%>" /><%-catData[t].name%> 
                               
                        <%}%>
            
                   </select>                     </div>

            



                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-10">Category Name <span class="c-red m-l-3" >*</span> </p>

                        <div class="fg-line">
                            <input type="text" id="serviceName"  data-rangelength="[2,100]" name="serviceName"  class="form-control" />
                        </div>        
                    
                    
                    
                    
                    
                    
                    </div>


                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-15">Choose file to upload Icon  <span class="c-red m-l-3" >*</span> </p>

                          
                            
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                                <div>
                                    <span class="btn btn-info btn-file">
                                        <span class="fileinput-new">Upload Icon</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" id="icon"   name="icon">
                                    </span>
                                    <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                                  
                    
                    
                    
                    
                    
                    
                    </div>


                    <div class="form-group fg-line">
                        <p class="f-500 c-black m-b-15">Choose file to upload thumbnail  <span class="c-red m-l-3" >*</span> </p>

                            
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Upload Thumbnail</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" id="thumbnail"   name="thumbnail">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                        
                                  
                
                    
                    </div>



                    <div class="form-group fg-line m-t-20">
                        <!-- //onclick="javascript:$(&apos;#demo-form&apos;).parsley( &apos;validate&apos; );" -->
                        <!-- onclick="javascript:$('#adduser').parsley('validate' );"  -->
                        <button  type="button" onclick="window.history.back();"   class="btn  btn-lg bgm-red btn-primary waves-effect">
                           Cancel
                        </button>
                        <button  type="submit" class="btn btn-lg btn-primary waves-effect">
                           Submit
                        </button>
                        </div>
            
            </div>
        </div>
           
        
          
      


    
                    

                </form>
                </div>
</div>









    </section>
</section>



<script type="text/javascript">

    $('#category').val(getURLParameter('addedId'))
    
 
 $('#addUser').validate({
    rules: {
      serviceName: {
        required: true
      },
     
      category: {
        required: true
      }
      
    },

    messages: {
      serviceName: {
        required: "This field is required",
      }
     
    },
  
   
    submitHandler: function (form) {

              var tempform = $('#addUser');

                    var ext = $('#icon').val().split('.').pop().toLowerCase();
                    var ext1 = $('#thumbnail').val().split('.').pop().toLowerCase();
    
                    if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1 || $.inArray(ext1, ['gif','png','jpg','jpeg']) == -1) {
                   showToastError('Please select only jpg and png files for image!')
                    return false;
                }
    
    
                var form_data = new FormData(tempform[0]);
    
                $('#loading1').show()
    
                $.ajax({
                    type: 'POST',
                    url: '<%-adminpath%>category/add',
                    dataType: 'json',
                    data: form_data,
                    contentType:false,
                    cache:false,
                    processData:false,
                    success: function (response) {
                        $('#loading1').hide()
    
                        $(".overlay").hide();
                        if (response.code == 200) {
                      
                            showToastSuccess(response.message)
    
                             window.location.href="<%-adminpath%>category";
                           
                        } else {
                            showToastError(response.message)
                        }
                    },
    
                    error: function(response)
                    {
                        $('#loading1').hide()
    
                       var errorResponse=JSON.parse(response.responseText)
                       showToastError(errorResponse.message)
    
    
                    }
                });
            }
          });
        
      
        </script>
    









