<!-- AUI Framework -->



<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
    
    <div class="container">
        <div class="block-header">
            <h2>All Categories</h2>
        
            
        
        </div>




<div class="row">

       
            <%for(var t=0;t<data.length;t++) {
                %>

                <div class="col-md-4 col-sm-6">
            
                <a href="<%-adminpath%>category?id=<%-data[t].id%>">

                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2><%-data[t].name %> <small>Click to check categories for <%-data[t].name %> </small></h2>
                        <!-- <ul class="actions">
                            <li>

                                <a href="<%-adminpath%>category/view/<%= data[t].id %>" title="">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>


                               
                            </li>
                            <li>
                                <a onclick="return confirm('Are you sure you want to delete this?');"  href="<%-adminpath%>category/delete/<%= data[t].id %>"  class="font-red" title="">
                                    <i class="zmdi zmdi-delete"></i>
                                    
                                </a>
                            </li>
                           
                        </ul> -->
                        


                        <a  class="btn bgm-green btn-float waves-effect" href="javascript:;"   <%if(data[t].status==0){%> style="display:none" <%}%>  id="block_status_<%-data[t].id%>"    class="btn small  bg-green  ">
                            <span class="button-content">
                                <i class="zmdi zmdi-assignment-check"></i>
                            </span>
                        </a>
            
            
                     
                        
                        <a  class="btn bgm-red btn-float waves-effect" href="javascript:;"   <%if(data[t].status==1){%> style="display:none" <%}%>  id="unblock_status_<%-data[t].id%>"   class="btn small  bg-red  ">
                            <span class="button-content">
                                <i class="zmdi zmdi-block"></i>
                            </span>
                        </a>            


                        <!-- <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-assignment-check"></i></button> -->
                    </div>

                    <div class="card-body card-padding">
                        <img  src="<%-data[t].icon %>" style="opacity:0.5" width="300" height="200"  onerror="this.src='/assets/images/nocategory.png'"/>

                    </div>
                </div>

            </a>
                <!-- <div class="card">
                    <div class="card-header">
                        <h2><%-data[t].name %>  <small><%-data[t].description %> </small></h2>
                    </div>
                    
                    <div class="card-body card-padding">
                        <img  src="<%-data[t].icon %>" style="opacity:0.5" width="300" height="200"  onerror="this.src='/assets/images/nocategory.png'"/>

                            
                        <div class="row animation-demo">
                            <div class="col-xs-6">
            
                                <a href="javascript:;"   <%if(data[t].status==0){%> style="display:none" <%}%>  id="block_status_<%-data[t].id%>"   onclick="StatusChange('<%= data[t].id %>','1')"  class="btn small  bg-green  ">
                                    <span class="button-content">
                                        <i class="glyph-icon icon-cog float-left"></i>
                                       Active &nbsp;&nbsp;&nbsp;
                                    </span>
                                </a>
                    
                    
                             
                                
                                <a href="javascript:;"   <%if(data[t].status==1){%> style="display:none" <%}%>  id="unblock_status_<%-data[t].id%>"   onclick="StatusChange('<%= data[t].id %>','0')"  class="btn small  bg-red  ">
                                    <span class="button-content">
                                        <i class="glyph-icon icon-ban-circle float-left"></i>
                                       Inactive 
                                    </span>
                                </a>                            </div>
                            <div class="col-xs-6">
                                <div class="dropdown">
                                    <a href="javascript:;" title="" class="btn small bg-blue" data-toggle="dropdown">
                                        <span class="button-content">
                                            <i class="glyph-icon font-size-11 icon-cog"></i>
                                            <i class="glyph-icon font-size-11 icon-chevron-down"></i>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu float-right">
                    
                                        <li>
                                            <a href="<%-adminpath%>category/view/<%= data[t].id %>" title="">
                                                <i class="glyph-icon icon-edit mrg5R"></i>
                                                Edit
                                            </a>
                                        </li>
                                       
                                       
                                        <li class="divider"></li>
                                        <li>
                                            <a onclick="return confirm('Are you sure you want to delete this?');"  href="<%-adminpath%>category/delete/<%= data[t].id %>"  class="font-red" title="">
                                                <i class="glyph-icon icon-remove mrg5R"></i>
                                                Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
           
            <%}%>
                   
                </div>
     









    </section>
</section>



<script>
$(function() {
            $('#categoriestab').addClass('active toggled');
            $('#catList').addClass('active');
        });
    var selectedId="30a42e47-63e0-49d4-b77d-6496ec53b87d"
        function StatusChange(id,status)
        {
    
            var confirm1= (status=="1") ? "Inactive" : "Active"
            if( confirm('Are you sure you want to '+confirm1+' this?'))
            {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    if (response.code == '200') {
                       // $('#block_status_'+id).html('');
    
                        if(status == "1")
                        {
                           $('#block_status_'+id).hide()
                           $('#unblock_status_'+id).show()
                           showToastSuccess( "Inactive successfully")
    
    
    
                        }else{
                             
                             $('#block_status_'+id).show()
                            $('#unblock_status_'+id).hide()
                           // $('#block_status_'+id).append("<i  class='fa fa-truck'  aria-hidden='true'></i>")
                           showToastSuccess( "Active successfully")
    
                        }
                        
                    }
                    else{
                       
                        showToastError(response.message)
                    }
                },
    
                error :function(response)
                {
                    showToastError(response.message)
    
                }
            });
        }
        }
       
        function getSubCat(id)
        {
          selectedId=id
       window.location.reload()
        }
     
     
      $('#category').val(getURLParameter('id'))
     
    
    
    
      
    </script>









