<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Add Coupan</h2>
    </div>
    
    <div class="card-body card-padding">
        <form role="form" id="addCoupan" method="POST" enctype="multipart/form-data">
            <input type="hidden"  name="parentId" id="parentId"   />
            <div class="row">
                <div class="col-sm-6">  
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">
                                <input type="text" class="form-control" minlength="2" maxlength="30" id="name" name="name" placeholder="Name*">
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-card-giftcard"></i></span>
                        <div class="fg-line">
                                <input type="text" class="form-control text-uppercase" minlength="1" maxlength="100" id="code" name="code" placeholder="PROMO CODE*">
                        </div>
                    </div>
                    </br>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-view-comfy"></i></span>
                        <div class="fg-line">  
                        <select class="selectpicker" name="McategoryId" id="McategoryId" class="form-control" placeholder="Select Mcategory" onchange="getSubCat(this.value,'categoryId')">
                            <option value="" selected disabled>Select Main Category*</option>
                             <%for(var t=0;t<catData.length;t++){%>
                                    <option value="<%-catData[t].id%>" /><%-catData[t].name%> 
                                <%}%>
                        </select>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <input  id="usageLimit" minlength="1" maxlength="3"  class="form-control input-mask" data-mask="000"  name="usageLimit"  placeholder="Usage Limit"/>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                        <div class="fg-line">    
                            <div class="dtp-container fg-line">
                                <input type='text' class="form-control" autocomplete="off" name="validupto" id="validupto" placeholder="valid UPTO*">
                            </div>
                        </div>
                    </div>
                    <br/>  
                    <div class="input-group"  style="margin-left: 37px;">
                        <p class="f-500 c-black m-b-20">Icon*</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file m-r-10">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="icon" name="icon">
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>      
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <input  id="minimumAmount" minlength="1" maxlength="6"  class="form-control input-mask" data-mask="000"  name="minimumAmount"  placeholder="Minimum Amount"/>
                        </div>
                    </div>
                    <br/> 
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <input  id="discount" minlength="1" maxlength="3"  class="form-control input-mask" data-mask="000"  name="discount"  placeholder="Discount (%)"/>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-view-carousel"></i></span>
                        <div class="fg-line">  
                        <select class="selectpicker" name="categoryId" id="categoryId" class="form-control" placeholder="Select category">
                            <option value="" selected disabled>Select Category*</option>
                            
                        </select>
                        </div>
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-comments"></i></span>
                        <div class="fg-line">    
                            <div class="fg-line">
                                <input type='text' class="form-control" minlength="10" maxlength="100" autocomplete="off" name="description" id="description" placeholder="Description">
                            </div>
                        </div>
                    </div>
                    <br/> 
                    <div class="input-group">
                      <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                        <div class="fg-line">  
                        <select class="selectpicker" name="type" id="type" class="form-control" placeholder="Select Type">
                            <option value="" selected disabled>Select Type*</option>
                             <option value="0" >All</option>
                            <%for(var p=0;p<types.length;p++){%>
                                <option value="<%-types[p].id%>" ><%-types[p].userType%></option> 
                               <%}%>
                        </select>
                        </div>
                    </div>
                    <br/>  
                    <div class="input-group"  style="margin-left: 37px;">
                        <p class="f-500 c-black m-b-20">Thumbnail*</p>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-primary btn-file m-r-10">
                                <span class="fileinput-new">Select file</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" id="thumbnail" name="thumbnail">
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>      
                    </div>   
                </div>   

            </div>    
            <div class="m-t-30 text-center">
                <button class="btn btn-primary btn-sm waves-effect">Save</button>
                <a href="<%- adminpath %>coupans"><button type="button" class="btn btn-link btn-sm waves-effect">Cancel</button></a>
            </div> 
        </form>
    </section>
</section>
<%- include ('../partials/script') %>
<%- include('../partials/commonJs'); -%>

<script type="text/javascript">
$(function() {
    $('#coupanTab').addClass('active');
    $('#coupanTab a[href^="<%- adminpath %>coupans"]').addClass('active');
});
$('#validupto').datepicker({
    minDate: new Date(),
    autoclose: true,
    changeMonth: true, 
    changeYear: true,
});

       $('#addCoupan').validate({
    ignore: ":hidden:not(select)",
    rules: {
      name: {
        required: true,
      },
      code: {
        required: true
      },
      minimumAmount: {
        required: true
      },
      discount: {
        required: true
      },
      McategoryId: {
        required: true
      },
      categoryId: {
        required: true
      },
      usageLimit: {
        required: true
      },
      validupto: {
        required: true
      },
      icon: { required: true, accept: "image/jpg,image/jpeg,image/png"},
      thumbnail: { required: true, accept: "image/jpg,image/jpeg,image/png"},
    },
    messages: {
      email: {
        required: "Please provide a name",
      },
      code: {
        required: "Please provide a code"
      },
      minimumAmount: {
        required: "Please provide a minimum amount"
      },
      discount: {
        required: "Please provide a discount"
      },
      McategoryId: {
        required: "Please provide a main category"
      },
      categoryId: {
        required: "Please select a category"
      },
      usageLimit: {
        required: "Please select a usage limit"
      },
      validupto: {
        required: "Please provide a validupto"
      },
      icon: {required: "This field is required", accept: 'Not an image!'},
      thumbnail: {required: "This field is required", accept: 'Not an image!'},
    },
    submitHandler: function (form) {
    $(".page-loader").show();
    var tempform = $('#addCoupan');
    var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>coupans/add',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
                   showToastSuccess( response.message);
                   $(".page-loader").hide();
                   setTimeout(function(){ window.location.href="<%-adminpath%>coupans"; },2500);
                
            }
            else{
               $(".page-loader").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });
    
  
function getSubCat(id,dataA)
{
    $.ajax({
      type: 'POST',
      url: '<%-adminpath%>subcategory/getSubCat',
      dataType: 'json',
      data: {'category':id},
      success: function (response) {
        var dataAppend=null
        var data=response.body
        console.log(data);
        if (response.code == '200') {
            $('#'+dataA).html("")
          var dataAppend='<option value="" selected disabled>Nothing Selected</option>';
          for(var k=0;k<data.length;k++)
          {
            dataAppend=dataAppend+'<option value="'+data[k].id+'" >'+data[k].name+'</option>';
          }
         console.log(dataA);
          $('#'+dataA).html(dataAppend);
        }
        $('#'+dataA).selectpicker('refresh');
      },
      error :function(response)
      {
        showToastError(response.message)
      }
  });
}
</script>


 </body>
</html>