
   <%-include ('../partials/header')%>
 <%-include ('../partials/side_bar')%>
<section id="content">
    <div class="form-input col-md-9 drop-shadow center-div">
        <div class="form-label  font-size-18 pad15L">
            <label for="">Order Details:</label>
        </div>

        <table class="table">

            <tr>
                <td><b>Order Date</b></td>
                <td> <%-new Date(data.createdAt)%>
            </tr>
                
            <tr>
                <td><b>Service Date</b></td>
                <td><%-new Date(data.serviceDateTime)%> </td>
            </tr>
                                    
        </table>

    </div>

    <div class="form-input col-md-9 drop-shadow center-div">
                           
        <div class="form-label font-size-18 pad15L">

            <label for="">
                    Customer  Details:<br>
            </label>
        </div>
                           
                           
        <table class="table font-size-13">
                                       
            <tr>
                <td><b>Customer Photo</b></td>
                <td> <img src="<%-data.user.image %>" style="border-radius:50%" alt="" width="80" height="80"/></td>
            </tr>             
            <tr>
                <td><b>Customer Name</b></td>
                <td><%-data.user.firstName +' '+ data.user.lastName%> </td>
            </tr>
            <tr>
                <td><b>Customer Contact</b></td>
                <td><%-data.user.countryCode +' ' + data.user.phoneNumber%> </td>
            </tr>           
            <tr>
                <td><b>Customer Address</b></td>
                <td><%-(data.address!=null?data.address.addressName:"")%> </td>
            </tr>
        </table>
                                
    </div>
                       
                         
    <div class="form-input col-md-9 drop-shadow center-div">
        
        <div class="form-label font-size-18 pad15L">

            <label for="">
                Price Details:<br>
            </label>
        </div>


    <table class="table">
        <tr>
            <td><b>Service Price</b></td>
            <td> <%-CURRENCY +' '+data.order.orderPrice%>  </td>
        </tr>
        <tr>
            <td><b>Service Charges</b></td>
            <td> <%-CURRENCY +' '+data.order.serviceCharges%> </td>
        </tr>


        <tr>
            <td><b>Promo Code</b></td>
            <td><%-data.order.promoCode%> </td>
        </tr>
                    
        <tr>
            <td><b>Discount Price</b></td>
            <td> <%-CURRENCY +' '+ data.order.offerPrice%> </td>
        </tr>
                            

        <tr>
            <td><b>Total Price</b></td>
            <td> <%-CURRENCY +' '+ data.order.totalOrderPrice%> </td>
        </tr>
    </table>
                                        
    </div>
                
    <div class="form-input col-md-9 center-div pad10L" >

            <div class="form-label font-size-18 pad20L">

                <label for="">
                   Included Services Details:<br>
                </label>
            </div>
            <div class="content-box ">
                <table class="table font-size-12">
                <thead>
                <th>S.No.</th>
                <th>Service Name</th>
                <th>Address</th>
                <th>Quantity</th>
                </thead>
                <tbody>
                <% for(var t=0;t<findData.count ;t ++){%> 
                    <tr>
                        <td><%-t+1 %></td>
                        <td> <%-findData.rows[t].product.name %>
                        <td> <%-findData.rows[t].address.addressName %>
                        <td><%-findData.rows[t].quantity %> </td>
                    </tr>
                <%}%>
                </tbody>
                </table>
            </div>
        </div>
        <div class="form-input col-md-9 center-div ">
            <div class="form-label font-size-18 pad15L">

                <label for="">
                   Employee Details:<br>
                </label>
            </div>
            
        <% 
        var empDatat=data.assignedEmployees!=null?data.assignedEmployees :[] 
            for(var t=0;t<empDatat.length ;t ++){ %> 
            <div class="content-box ">
                <h3 class="content-box-header ui-state-default">
                    <span class="float-left">Employee <%-t+1%> Details:</span>
                </h3>
                <table class="table small font-size-11">
                    <tr>
                        <td> <img  style="border-radius:50%" src="<%-empDatat[t].employee.image %>" alt="" width="60" height="60"/>
                        <td> <b><%-empDatat[t].employee.firstName +' '+ empDatat[t].employee.lastName +' ,' +empDatat[t].employee.countryCode +empDatat[t].employee.phoneNumber  %></b>
                        </tr>
                    <tr>
                </table>   
        </div>
        <%}%>

    </div>
      

</div>

</section>



                	
            </div><!-- #page-main -->
        </div><!-- #page-wrapper -->
   </section>
</section>
    </body>
</html>


<script type="text/javascript">

     
    
      $('#adduser').submit( function() {
       
       
            var tempform = $('#adduser');
           
            tempform .parsley('validate' );

            if(tempform.parsley('isValid' ))
            {
                var ext = $('#icon').val().split('.').pop().toLowerCase();
                if(ext==null || ext=="") ext=$('#myIcon').attr('src').split('.').pop().toLowerCase();
                var ext1 = $('#thumbnail').val().split('.').pop().toLowerCase();
                if(ext1==null || ext1=="") ext1=$('#myThumbnail').attr('src').split('.').pop().toLowerCase();


                if($.inArray(ext, ['gif','png','jpg','jpeg']) == -1    ||  $.inArray(ext1, ['gif','png','jpg','jpeg']) == -1     ) {
                    showToastError('Please select only jpg and png files for image!')
                return false;
            }


            var form_data = new FormData(tempform[0]);
            $('#loading1').show()
            var id=$('#serviceId').val()

            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/update',
                dataType: 'json',
                data: form_data,
                contentType:false,
                cache:false,
                processData:false,
                success: function (response) {
                    $(".overlay").hide();
                    if (response.code == 200) {
                  
                        showToastSuccess(response.message)

                        window.location.reload()
                       
                    } else {
                        showToastError(response.message)
                    }
                },

                error: function(response)
                {
                   var errorResponse=JSON.parse(response.responseText)
                   showToastError(errorResponse.message)


                }
            });
        }
      });
    
  
    </script>

