<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<style type="text/css">
  .bs-item {
    background: #fff;
    margin-bottom: 13px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
  }
</style>
    <section id="content">
        <div class="container">
        <div class="m-b-30">
          <div class="block-header ">
            <div class="row">
                <div class="col-sm-4 col-xs-4">
                    <div class="bs-item z-depth-1 text-uppercase">
                        Avg Rating : <span  id="avgRating"></span>
                    </div>
                </div>
            </div>
          </div>
            <div class="card">
                <div class="card-header">
                    <div class="pull-left"><h2>RATINGS & REVIEWS</h2></div>
                </div>
                <table id="data-table-command" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false">ID</th>
                            <th data-column-id="name">User Name</th>
                            <th data-column-id="Rating" data-order="desc">Rating</th>
                            <th data-column-id="Review" data-order="desc">Review</th>
                            <th data-column-id="Review At">Review At</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="appendData">
                      
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
        <script type="text/javascript">
        $(function() {
            $('#ratingtab').addClass('active toggled');
            $('#myratingtab').addClass('active');
        });

                               //Command Buttons
                var grid = $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>" ;
                        }
                    }
                }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    window.location.href="<%-adminpath%>employees/view/"+$(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    var id = $(this).data("row-id");
                    swal({   
                        title: "Are you sure?",   
                        text: "You will not be able to recover this  review details!",   
                        type: "warning",   
                        showCancelButton: true,   
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "Yes, delete it!",   
                        cancelButtonText: "No, cancel plx!",   
                    }, function(isConfirm){   
                        if (isConfirm) {    
                            console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '<%-adminpath%>ratings/company/delete',
                                dataType: 'json',
                                 data: {'userId':userId},
                                success: function (response) {
                                    if (response.code == '200') {
                                           showToastSuccess( response.message);
                                           //$(".page-loader").hide();
                                           setTimeout(function(){ window.location.reload(); },2500);
                                    }
                                    else{
                                       //$(".page-loader").hide();
                                        showToastError(response.message)
                                    }
                                }
                            });  
                        } 
                    });
                });
            })
        </script>
        <script>
     var currentPage=1
     var dataList=[]

    getList(currentPage)
    function getList(currentPage,catId)
    {
        currentPage=currentPage
        var limit=100
        var fromDate=$('#fromDate').val();
            var toDate=$('#toDate').val();
        $('#loading1').show()
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>ratings/company/getData',
            dataType: 'json',
            data: {'page':currentPage,'limit':limit,'fromDate':fromDate,'toDate':toDate},
            success: function (response) {
                $('#loading1').hide()
                var myvar=""
                $("#appendData").html('<h3>No data avialable in table/</h3>')             
                if (response.code == '200') {
                   // $('#block_status_'+id).html(''
                    var data1=response.body.ratingData
                    var data=data1.rows
                    dataList=data
                    setData(data)   
                    var avgRating=""
                    var rating=response.body.avgRating
                    var ratingData =getRating(rating)
                    $('#avgRating').html(" ("+rating+") "+ ratingData)
                    //appendPagination(currentPage,Math.ceil(data1.count/limit))
                }
                else{
                    showToastError(response.message)
                }
            },

            error :function(response)
            {

                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    }
    function setData(data)
    {
        var myvar=[];
        for(var t=0;t<data.length;t++) {

             myvar.push({
            "id": data[t].order.id,
            "name": ((data[t].user!=null)?data[t].user.firstName :"" ),
            "Rating":  data[t].rating +'   '+getRating(data[t].rating),
            "Review": data[t].review,
            "Review At": format(new Date(data[t].createdAt))
          })

        }
        grid.bootgrid('append',myvar);
    }

    function deleteReview(userId)
    {

        if( confirm('Are you sure you want to delete this review ?'))
        {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>ratings/company/delete',
                dataType: 'json',
                data: {'userId':userId},
                success: function (response) {
                    if (response.code == '200') {

                        showToastSuccess(response.message)
                        getList(currentPage,categoryId)
                        
                    }
                    else{
                       
                        showToastError(response.message)
                    }
                },

                error :function(response)
                {
                    showToastError(response.message)

                }
            });
        }
    }

</script>