<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<style type="text/css">
  .bs-item {
    background: #fff;
    margin-bottom: 13px;
    padding: 10px;
    font-size: 14px;
    border-radius: 2px;
  }
</style>
    <section id="content">
        <div class="container">
        <div class="m-b-30">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left"><h2>RATINGS & REVIEWS</h2></div>
                    <div class="pull-right"><div class="form-row col-lg-3  float-left form-vertical font-size-15 bold   dropdown form-label mrg25T ">
        <select   data-placeholder="Choose Category" onchange="getSubCat(this.value)" class="chosen-select" id="categoryId">
            <option value="" > Choose  Category</option>
            <%for(var t=0;t<catData.length;t++){%>
            <option value="<%-catData[t].id%>" /><%-catData[t].name%> 
           
    <%}%>
   </select>
   </div>
     </div>
                </div>
                <table id="data-table-command" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false">ID</th>
                            <th data-column-id="name">Product Name</th>
                            <th data-column-id="Username">User Name</th>
                            <th data-column-id="Rating" data-order="desc">Rating</th>
                            <th data-column-id="Review" data-order="desc">Review</th>
                            <th data-column-id="Review At">Review At</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="appendData">
                      
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>

<script>
 $(function() {
            $('#ratingtab').addClass('active toggled');
            $('#productratingtab').addClass('active');
        });
        var grid = $("#data-table-command").bootgrid({
                    css: {
                        icon: 'zmdi icon',
                        iconColumns: 'zmdi-view-module',
                        iconDown: 'zmdi-expand-more',
                        iconRefresh: 'zmdi-refresh',
                        iconUp: 'zmdi-expand-less'
                    },
                    formatters: {
                        "commands": function(column, row) {
                            return "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>" ;
                        }
                    }
                }).on("loaded.rs.jquery.bootgrid", function()
            {
                /* Executes after data is loaded and rendered */
                grid.find(".command-edit").on("click", function(e)
                {
                    window.location.href="<%-adminpath%>employees/view/"+$(this).data("row-id");
                }).end().find(".command-delete").on("click", function(e)
                {
                    var id = $(this).data("row-id");
                    swal({   
                        title: "Are you sure?",   
                        text: "You will not be able to recover this  review details!",   
                        type: "warning",   
                        showCancelButton: true,   
                        confirmButtonColor: "#DD6B55",   
                        confirmButtonText: "Yes, delete it!",   
                        cancelButtonText: "No, cancel plx!",   
                    }, function(isConfirm){   
                        if (isConfirm) {    
                            console.log(id);
                            $.ajax({
                                type: 'POST',
                                url: '<%-adminpath%>ratings/company/delete',
                                dataType: 'json',
                                 data: {'userId':userId},
                                success: function (response) {
                                    if (response.code == '200') {
                                           showToastSuccess( response.message);
                                           //$(".page-loader").hide();
                                           setTimeout(function(){ window.location.reload(); },2500);
                                    }
                                    else{
                                       //$(".page-loader").hide();
                                        showToastError(response.message)
                                    }
                                }
                            });  
                        } 
                    });
                });
            })
 var categoryId=$('#categoryId').val()
 var currentPage=1
 var dataList=[]
getList(currentPage,categoryId)

    

    function getSubCat(id)
    {
         categoryId=$('#categoryId').val()
         getList(1,categoryId)
    }
 


   function getList(currentPage,catId)
   {
    currentPage=currentPage
    var limit=100
   
    $('#loading1').show()
    $.ajax({
            type: 'POST',
            url: '<%-adminpath%>ratings/getData',
            dataType: 'json',
            data: {'page':currentPage,'limit':limit,'categoryId':catId},
            success: function (response) {
            console.log(response)
                $('#loading1').hide()
                $("#appendData").html('<h3>No data avialable in table/</h3>')             

                if (response.code == '200') {
                   // $('#block_status_'+id).html(''
                  var data1=response.body
                  var data=response.body.rows
                  dataList=data
                  setData(data)
                }
                else{
                   
                    showToastError(response.message)
                }
            },

            error :function(response)
            {

                $('#loading1').hide()

                showToastError(response.message)

            }
        });
    }



    function setData(data)
    {
        var myvar=""

        var myvar=[];
        for(var t=0;t<data.length;t++) {

             myvar.push({
            "id": data[t].orderId,
            "name": ((data[t].product!=null)?data[t].product.name :"" ),
            "Username": ((data[t].user!=null)?data[t].user.firstName :"" ),
            "Rating":  data[t].rating +'   '+getRating(data[t].rating),
            "Review": data[t].review,
            "Review At": format(new Date(data[t].createdAt))
          })

        }
        grid.bootgrid('append',myvar);


}
    function deleteReview(serviceId,orderId)
    {

        if( confirm('Are you sure you want to delete this review ?'))
        {
        $.ajax({
            type: 'POST',
            url: '<%-adminpath%>ratings/delete',
            dataType: 'json',
            data: {'orderId':orderId,'serviceId':serviceId},
            success: function (response) {
                if (response.code == '200') {

                    showToastSuccess(response.message)
                    getList(currentPage,categoryId)
                    
                }
                else{
                   
                    showToastError(response.message)
                }
            },

            error :function(response)
            {
                showToastError(response.message)

            }
        });
    }
    }
   



function appendPagination(currentPage,count)
{
    var fd="";
//alert(data.pageCount);
 if (count > 1) { 
fd=fd+'<ul class="button-group center-div">'; 

  if (currentPage > 1) {
      fd=fd+'<a  href="javascript:;" class="btn medium ui-state-default" onclick="getList(1)"><i class="glyph-icon icon-chevron-left"></i></a>';
  }
  else{
    fd=fd+'<a  href="javascript:;" class="btn medium ui-state-default disabled"><i class="glyph-icon icon-chevron-left"></i></a>';
 
  }
  var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } 
 if (i !== 1) { 
      fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
  } 
                 
 // alert(fd);
  
 
 for (i; i<=count; i++) {
 if (currentPage == i) { 
      fd=fd+'<li class="btn medium ui-state-default primary-bg"><span><span>'+currentPage+'</span></span></li>';
    } else {
        fd=fd+'<a  class="btn medium  ui-state-default" href="javascript:;" onclick="getList('+i+')">'+i+'</a>';
     }
    if (i == (+currentPage + 4)) {
        fd=fd+'<a  class="btn medium disabled ui-state-default" href="javascript:;">...</a>';
     break; } 
  }
 
  
  if (currentPage != count) {
      fd=fd+'<a  class="btn medium ui-state-default"  href="javascript:void(0)" onclick="getList('+count+')"> <i class="glyph-icon icon-chevron-right"></i></a>';
 } 
 else{
      fd=fd+'<a  class="btn medium ui-state-default disabled"  href="javascript:void(0)" > <i class="glyph-icon icon-chevron-right"></i></a>';
 } 
 
fd=fd+'</ul>';  
 } 

       $("#append_pagination").html(fd)  
}



  

function find( ) {
        var item=$('#search').val().toLowerCase()

var rows=[];

    for(var i = 0; i < dataList.length; ++i) {
        var name= dataList[i].user!=null?dataList[i].user.firstName.toString().toLowerCase() :""


        //if the name is what we are looking for return it
        if(dataList[i]['rating'].toString().includes(item) ||
          dataList[i].review.toString().includes(item) ||
          dataList[i].service.name.toString().includes(item) ||
          name.includes(item) ||
          dataList[i].createdAt.toString().includes(item) 


          
          )
            
        {  

           rows.push(dataList[i]);
        }
    }

    setData(rows)


}

 
$('#search').on( 'keyup', function () {
       setTimeout(function(){find() },800);
} );

   
  

  
    

</script>
