<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>

<section id="content">
<div class="container">

<div class="col-lg-10 col-md-6 ml-auto mr-auto login_main_container">

    <a class="btn btn-sm btn-info align-right m-5" href="<%-adminpath%>sizecharts/add">Add New Sizechart</a>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <% for(i=0;i<sizecharts.length;i++){ %>
            <tr>
                <td><%=sizecharts[i].dataValues.title %></td>
                <td><%=sizecharts[i].dataValues.status == 1? "Active": "Inactive" %></td>
                <td><button class="btn btn-danger btn-sm delete_sizechart" data-id="<%=sizecharts[i].dataValues.id %>">Delete</button></td>
            </tr>
        <% } %>
        </tbody>
    </table>

</div>

</div>
</section>

</section>

<script>
    $(".delete_sizechart").click(function(){
        var id = $(this).data("id");
        if(confirm("Are you sure you want to delete this ?")){
            $.ajax({
                url: '<%-adminpath%>sizecharts/delete/'+id,
                type:"GET",
                success: function(data){
                    if(data.status == 200){
                        showToastSuccess( data.message);
                        location.reload();
                    }
                }
            })
        }
    })
</script>

