<!-- AUI Framework -->

<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
<section id="content">
    
    <div class="container">

        <div class="block-header">
           
                <a  class="pull-left" href="javascript:;" onclick="window.history.back()";> <i class="col-md-1 lead zmdi zmdi-arrow-left"></i> </a>
                <div class="lead ">Add SubCategories</div>
                    
        </div>




<div class="row">


                <div class="col-md-10 col-sm-10">
            

                <div class="card">
                    

                    <div class="card-body card-padding text-center">

                        <form action="<%-adminpath%>subcategory/add" method="POST" id="add_subcat" enctype="multipart/form-data">

                            <div class="dynamic_subcat">

                                <div class="form-group">
                               
                                    <select name="cats" class="form-control cursor">
                                    
                                        <option value="">Main Category</option>
                                        <% for(i=0;i<parData.length;i++){ %>
    
                                        <option value="<%=parData[i].id %>"><%=parData[i].name %></option>
    
                                        <% } %>
                                    
                                    </select>
                                </div>

                            </div>

                            <input type="hidden" name="parentId" value="">

                            <div class="form-group">
                             
                                <input type="text" name="name" placeholder="Name" class="form-control">
                            </div>

                            <div class="form-group">

                                <textarea placeholder="Description" name="description" class="form-control" cols="30" rows="10"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="icon">Icon</label>
                                <input type="file" name="icon" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="thumbnail">Thumbnail</label>
                                <input type="file" class="form-control" name="thumbnail">
                            </div>

                            <div>
                                <label for="status">Status</label>
                                <select name="status" id="status" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>    
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>

                        </form>

                    </div>

                </div>
               
            </div>
                   
                </div>
     

    </section>
</section>



<script>
        $(function() {
            $('#categoriestab').addClass('active toggled');
            $('#catList a[href^="<%- adminpath %>/category/parent"]').addClass('active');
        });
    var selectedId="30a42e47-63e0-49d4-b77d-6496ec53b87d"
        function StatusChange(id,status)
        {
    
            var confirm1= (status=="1") ? "Inactive" : "Active"
            if( confirm('Are you sure you want to '+confirm1+' this?'))
            {
            $.ajax({
                type: 'POST',
                url: '<%-adminpath%>category/status',
                dataType: 'json',
                data: {'id':id,'status':status},
                success: function (response) {
                    if (response.code == '200') {
                       // $('#block_status_'+id).html('');
    
                        if(status == "1")
                        {
                           $('#block_status_'+id).hide()
                           $('#unblock_status_'+id).show()
                           showToastSuccess( "Inactive successfully")
    
    
    
                        }else{
                             
                             $('#block_status_'+id).show()
                            $('#unblock_status_'+id).hide()
                           // $('#block_status_'+id).append("<i  class='fa fa-truck'  aria-hidden='true'></i>")
                           showToastSuccess( "Active successfully")
    
                        }
                        
                    }
                    else{
                       
                        showToastError(response.message)
                    }
                },
    
                error :function(response)
                {
                    showToastError(response.message)
    
                }
            });
        }
        }
       
        function getSubCat(id)
        {
          selectedId=id
       window.location.reload()
        }
     
     
      $('#category').val(getURLParameter('id'));

        $("#add_subcat").submit(function(e){

            var data = $(this).serialize();

            $.ajax({
                url: '<%-adminpath%>subcategory/add',
                type: 'POST',
                data: data,
                success: function(val){
                    var obj = val;
                    if(obj.code ==200){
                        showToastSuccess( "Subcategory Added successfully");
                    }
                }
            });

            e.preventDefault();

        });
    
        $(document).on("change",".cursor",function(){

            var parentid = $(this).val(); 
            
            var allchild = $(this).find(".cursor");
            
            $.each(allchild, function(ke,val){
                console.log("SSS");
            })

            $.ajax({
            url: '<%-adminpath%>subcategory/childcat/'+parentid,
            type: 'GET',
            success: function(data){
                
                var html = `<div class="form-control">
                            <select name="cats" class="cursor form-control">
                            <option>No Sub Category Selected</option>`;
                var obj = data.data;

                $("input[name=parentId]").val(parentid);

                if(obj.length>0){
                
                    $.each( obj, function( key, value ) {
                        html += `<option value="${value.id}">${value.name}</option>`;
                    });
                    html += `</select></div>`;

                    $(".dynamic_subcat").append(html);

                }
              
            }
            });

        });
      
    </script>
