<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>

<section id="content">
    <div class="container">

<div class="card">
    <div class="card-header">
        <h2>Add Product</h2>
    </div>
    
    <div class="card-body card-padding">

    <form action="<%-adminpath%>products/insert" class="p-5 m-5" method="POST" id="addProducts" enctype="multipart/form-data">
      <div class="row">

       <div class="col-sm-6">    

              <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                  <select name="category" class="selectpicker form-control">
                      <option value="" selected>Choose Category</option>
                      <% for(j=0;j<categories.length;j++){ %>
                      <option value="<%=categories[j].id %>"><%=categories[j].name %></option>
                      <% } %>
                  </select>
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                  <input type="text" class="form-control" name="brandname" placeholder="Brand Name">
                </div>
              </div>
               <br/>
              <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">

                <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
              </div>

             <br/>
              <div class="input-group m-b-5">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                 <div class="fg-line">
                <textarea name="description" class="form-control" placeholder="Description" id="" cols="20" rows="7"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-6">  
            <div class="input-group"  style="margin-left: 37px;">
                <p class="f-500 c-black m-b-20">Upload Icon*</p>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-primary btn-file m-r-10">
                        <span class="fileinput-new">Upload Icon</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="icon" class="file-upload">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                </div>      
            </div>     
             <div class="input-group"  style="margin-left: 37px;">
                <p class="f-500 c-black m-b-20">Upload Thumbnail*</p>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-primary btn-file m-r-10">
                        <span class="fileinput-new">Upload Thumbnail</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" name="thumbnail" class="file-upload">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                </div>      
            </div>    

             <div class="input-group">
              <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                  <select name="status" class="selectpicker form-control">
                     <option value="1">Active</option>
                <option value="0">Inactive</option>
                  </select>
              </div>
            </br>
            <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">

                <input type="text" class="form-control" name="type" placeholder="Type">
                </div>
              </div>
              </br>
            <div class="input-group">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">

                <input type="text" class="form-control" name="price" placeholder="Price">
                </div>
              </div>

          </div>
          </br>
             <div class="m-t-30 text-center">
                <button class="btn btn-primary btn-sm waves-effect">Save</button>
                <a href="<%- adminpath %>products/view"><button type="button" class="btn btn-link btn-sm waves-effect">Cancel</button></a>
            </div>

</div>

    </form>

</div>

</div>

</div>

</section>
</section>

<script type="text/javascript">
$(function() {
  $('#productsTab').addClass('active toggled');
  $('#addnewproduct').addClass('active');
});
 $('#addProducts').validate({
    ignore: ":hidden:not(select)",
    rules: {
      brandname: {
        required: true
      },
      name: {
        required: true
      },
      description: {
        required: true
      },
      status: {
        required: true
      },
      type: {
        required: true
      },
      price: {
        required: true
      },
      icon: { required: true, accept: "image/jpg,image/jpeg,image/png"},
      thumbnail: { required: true, accept: "image/jpg,image/jpeg,image/png"},
    },
    messages: {
      brandname: {
        required: "Please provide a brand Name"
      },
      name: {
        required: "Please provide a  Name"
      },
      description: {
        required: "Please provide a description"
      },
      status: {
        required: "Please select a status"
      },
      type: {
        required: "Please provide a type"
      },
      price: {
        required: "Please provide a price"
      },
      icon: {required: "This field is required", accept: 'Not an image!'},
      thumbnail: {required: "This field is required", accept: 'Not an image!'},
    },
    submitHandler: function (form) {
    $(".page-loader").show();
    var tempform = $('#addProducts');
    var form_data = new FormData(tempform[0]);
      $.ajax({
            type: 'POST',
            url: '<%-adminpath%>products/insert',
            dataType: 'json',
            data: form_data,
            contentType:false,
            cache:false,
            processData:false,
            success: function (response) {
            console.log(response);
            if (response.code == '200') {
                   showToastSuccess( response.message);
                   $(".page-loader").hide();
                   setTimeout(function(){ window.location.href="<%-adminpath%>employees"; },2500);
                
            }
            else{
               $(".page-loader").hide();
                showToastError(response.message)
            }
          }
      });
    }
  });
</script>
