<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Online Market Place </title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="<%- config.BASEURL %>vendors/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/animate.css/animate.min.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">        
    <link href="<%- config.BASEURL %>vendors/bootgrid/jquery.bootgrid.min.css" rel="stylesheet"> 
    <link href="<%- config.BASEURL %>vendors/farbtastic/farbtastic.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/bower_components/chosen/chosen.min.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>vendors/summernote/dist/summernote.css" rel="stylesheet">
      <link href="<%- config.BASEURL %>vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
      <link href="<%- config.BASEURL %>vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css" rel="stylesheet">
      
    <!-- CSS -->
    <link href="<%- config.BASEURL %>css/app.min.1.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>css/app.min.2.css" rel="stylesheet">
    <link href="<%- config.BASEURL %>css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="<%- config.BASEURL %>assets/css/minified/jquery.toast.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
</head>
