<footer id="footer">
    Copyright &copy; 2020 Online Market
</footer>

<!-- Page Loader -->
<div class="page-loader">
    <div class="preloader pls-blue">
        <svg class="pl-circular" viewBox="25 25 50 50">
            <circle class="plc-path" cx="50" cy="50" r="20" />
        </svg>

        <p>Please wait...</p>
    </div>
</div>

<script src="<%- config.BASEURL %>vendors/bower_components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="<%- config.BASEURL %>plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="<%- config.BASEURL %>vendors/bower_components/flot/jquery.flot.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/flot/jquery.flot.resize.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/flot.curvedlines/curvedLines.js"></script>
<script src="<%- config.BASEURL %>vendors/sparklines/jquery.sparkline.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<script src="<%- config.BASEURL %>vendors/bower_components/moment/min/moment.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/fullcalendar/dist/fullcalendar.min.js "></script>
<script src="<%- config.BASEURL %>vendors/bower_components/simpleWeather/jquery.simpleWeather.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/Waves/dist/waves.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>
<script src="<%- config.BASEURL %>vendors/bower_components/chosen/chosen.jquery.min.js"></script>
<script src="<%- config.BASEURL %>vendors/fileinput/fileinput.min.js"></script>
<script src="<%- config.BASEURL %>vendors/input-mask/input-mask.min.js"></script>
<script src="<%- config.BASEURL %>vendors/farbtastic/farbtastic.min.js"></script>       
<script src="<%- config.BASEURL %>assets/js/minified/jquery.toast.min.js"></script>
<!-- Placeholder for IE9 -->
<!--[if IE 9 ]>
    <script src="<%- config.BASEURL %>vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
<![endif]-->
<script src="<%- config.BASEURL %>vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<script src="<%- config.BASEURL %>js/flot-charts/curved-line-chart.js"></script>
<script src="<%- config.BASEURL %>js/flot-charts/line-chart.js"></script>
<script src="<%- config.BASEURL %>js/charts.js"></script>

<script src="<%- config.BASEURL %>js/charts.js"></script>
<script src="<%- config.BASEURL %>js/functions.js"></script>
<script type = "text/javascript" >
    history.pushState(null, null, location.href);
    history.back();
    history.forward();
    window.onpopstate = function () {
        history.go(1);
    };
</script>
