<body>
<header id="header" class="clearfix" data-current-skin="blue">
  <ul class="header-inner">
      <li id="menu-trigger" data-trigger="#sidebar">
          <div class="line-wrap">
              <div class="line top"></div>
              <div class="line center"></div>
              <div class="line bottom"></div>
          </div>
      </li>

      <li class="logo hidden-xs">
          <a href="index.html">Online Market Place</a>
      </li>

      <li class="pull-right">
          <ul class="top-menu">
              <input id="tw-switch" type="checkbox" hidden="hidden" checked>

              <li id="top-search">
                  <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
              </li>
              
              <li class="dropdown hidden-xs">
                  <a data-toggle="dropdown" href="">
                      <i class="tm-icon zmdi zmdi-view-list-alt"></i>
                      <i class="tmn-counts">2</i>
                  </a>
                  <div class="dropdown-menu pull-right dropdown-menu-lg">
                      <div class="listview">
                          <div class="lv-header">
                              Tasks
                          </div>
                          <div class="lv-body">
                              <div class="lv-item">
                                  <div class="lv-title m-b-5">HTML5 Validation Report</div>

                                  <div class="progress">
                                      <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                                          <span class="sr-only">95% Complete (success)</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="lv-item">
                                  <div class="lv-title m-b-5">Google Chrome Extension</div>

                                  <div class="progress">
                                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                          <span class="sr-only">80% Complete (success)</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="lv-item">
                                  <div class="lv-title m-b-5">Social Intranet Projects</div>

                                  <div class="progress">
                                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                          <span class="sr-only">20% Complete</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="lv-item">
                                  <div class="lv-title m-b-5">Bootstrap Admin Template</div>

                                  <div class="progress">
                                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                          <span class="sr-only">60% Complete (warning)</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="lv-item">
                                  <div class="lv-title m-b-5">Youtube Client App</div>

                                  <div class="progress">
                                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                          <span class="sr-only">80% Complete (danger)</span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <a class="lv-footer" href="">View All</a>
                      </div>
                  </div>
              </li>
              <li class="dropdown">
                  <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                  <ul class="dropdown-menu dm-icon pull-right">
                      <li class="skin-switch hidden-xs">
                          <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
                          <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
                          <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
                          <span class="ss-skin bgm-teal" data-skin="teal"></span>
                          <span class="ss-skin bgm-orange" data-skin="orange"></span>
                          <span class="ss-skin bgm-blue" data-skin="blue"></span>
                      </li>
                      <li class="divider hidden-xs"></li>
                      <li class="hidden-xs">
                          <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                      </li>
                      <li>
                          <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                      </li>
                      <li>
                          <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                      </li>
                      <li>
                          <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                      </li>
                  </ul>
              </li>
              <li class="hidden-xs" id="chat-trigger" data-trigger="#chat">
                  <a href=""><i class="tm-icon zmdi zmdi-comment-alt-text"></i></a>
              </li>
          </ul>
      </li>
  </ul>


  <!-- Top Search Content -->
  <div id="top-search-wrap">
      <div class="tsw-inner">
          <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
          <input type="text">
      </div>
  </div>
</header>
<section id="main" data-layout="layout-1">
  <aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu">
        <a href="">
            <div class="profile-pic">
                <img src="<%= userData.logo1 %>" alt="">
            </div>

            <div class="profile-info">
                <%= userData.companyName %>

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu">
            <li>
                <a href="<%- adminpath %>profile/getprofile"><i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-input-antenna"></i> Privacy Settings</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-settings"></i> Settings</a>
            </li>
            <li>
                <a href="<%- adminpath %>logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
         <li id="hometab">
            <a href="<%- adminpath %>"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li id="employeeTab">
            <a href="<%- adminpath %>employees"><i class="zmdi zmdi-accounts-list"></i> Staff</a>
        </li>

        <li class="sub-menu"  id="categoriestab">

         
            <a href="javascript:;"><i class="zmdi zmdi-accounts-list"></i>Categories</a>
            <ul>
                <li>
                    <a href="<%-adminpath%>category/parent"  id="catList" title="catList">
                        <i class="glyph-icon icon-list"></i>
                        All Categories
                    </a>
                </li>
    
                <li>
                    <a href="<%-adminpath%>category/add" id="AddcatList" title="Add Category">
                    <i class="zmdi zmdi-plus"></i>
                         New Category
                    </a>
                </li>

                <li>


                    <a href="<%-adminpath%>subcategory/"  title="SubcatList">
                        All Sub-Categories
                    </a>
                
                </li>
    
                <li>
                    <a href="<%-adminpath%>subcategory/add"  title="Add SubCategory">
                     <i class="zmdi zmdi-plus"></i>
                         Add Sub Category
                    </a>
                </li>
               

            </ul>
        </li>


        <li id="serviceTab">
            <a href="<%- adminpath %>service"><i class="zmdi zmdi-view-carousel"></i> Services</a>
        </li>
        <li id="coupanTab">
            <a href="<%- adminpath %>coupans"><i class="zmdi zmdi-card-giftcard"></i> Coupans</a>
        </li>
        <li id="schudleTab">
            <a href="<%- adminpath %>schedule"><i class="zmdi zmdi-calendar"></i>Schedule</a>
        </li>
        <li id="paymentTab">
            <a href="<%- adminpath %>payment"><i class="zmdi zmdi-money-box"></i>Payments</a>
        </li>
        <li class="sub-menu"  id="ratingtab">
          <a href="javascript:;"><i class="zmdi zmdi-star"></i>Rating & Reviews</a>
          <ul>
              <li>
                <a href="<%-adminpath%>ratings"  id="productratingtab" title="Product Rating">
                    <i class="zmdi zmdi-star"></i>
                    Product Rating
                </a>
              </li>
              <li>
                <a href="<%-adminpath%>ratings/company" id="myratingtab" title="My Rating">
                <i class="zmdi zmdi-star"></i>
                     My Rating
                </a>
              </li>
          </ul>
        </li>
        <li id="notificationTab">
            <a href="<%- adminpath %>notification"><i class="zmdi zmdi-notifications"></i>Notifications</a>
        </li>
    </ul>
</aside>
<%- include ('../partials/script') %>

<%- include('../partials/commonJs'); -%>
