<body>
<header id="header" class="clearfix" data-current-skin="blue">
  
    <ul class="header-inner">
        <li id="menu-trigger" data-trigger="#sidebar">
          <div class="line-wrap">
              <div class="line top"></div>
              <div class="line center"></div>
              <div class="line bottom"></div>
          </div>
        </li>

      <li class="logo hidden-xs">
          <a href="<%-adminpath%>">Online Market Place</a>
      </li>

      <li class="pull-right">
          <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>

              <li class="dropdown">
                  <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                  <ul class="dropdown-menu dm-icon pull-right">
                      <li class="skin-switch hidden-xs">
                          <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
                          <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
                          <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
                          <span class="ss-skin bgm-teal" data-skin="teal"></span>
                          <span class="ss-skin bgm-orange" data-skin="orange"></span>
                          <span class="ss-skin bgm-blue" data-skin="blue"></span>
                      </li>
                      <li class="divider hidden-xs"></li>
                      <li class="hidden-xs">
                          <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                      </li>
                      <li>
                          <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                      </li>
                      <li>
                          <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>
                      </li>
                      <li>
                          <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </li>
    </ul>


  <!-- Top Search Content -->
    <div id="top-search-wrap">
        <div class="tsw-inner">
            <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
            <input type="text">
        </div>
    </div>

</header>

<section id="main" data-layout="layout-1">
  <aside id="sidebar" class="sidebar c-overflow">
    <div class="profile-menu" id="userprofiletab">
        <a href="/">
            <div class="profile-pic">
                <img src="<%= userData.logo1 %>" alt="">
            </div>

            <div class="profile-info">
                <%= userData.companyName %>

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>

        <ul class="main-menu" id="profiledrop">
            <li id="profiletab">
                <a href="<%- adminpath %>profile/getprofile"> <i class="zmdi zmdi-account"></i> View Profile</a>
            </li>
            <li>
                <a href="<%- adminpath %>logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
         <li id="hometab">
            <a href="<%- adminpath %>"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li id="employeeTab">
            <a href="<%- adminpath %>employees"><i class="zmdi zmdi-accounts-list"></i> Staff</a>
        </li>

        <li class="sub-menu"  id="categoriestab">

         
            <a href="javascript:;"><i class="zmdi zmdi-accounts-list"></i>Categories</a>
            <ul>
                <li>
                    <a href="<%-adminpath%>category/parent"  id="catList" title="catList">
                        <i class="glyph-icon icon-list"></i>
                        All Categories
                    </a>
                </li>
    
                <li>
                    <a href="<%-adminpath%>category/add" id="AddcatList" title="Add Category">
                    <i class="zmdi zmdi-plus"></i>
                         New Category
                    </a>
                </li>

                <li>


                    <a href="<%-adminpath%>subcategory/"  title="SubcatList">
                        All Sub-Categories
                    </a>
                
                </li>
    
                <li>
                    <a href="<%-adminpath%>subcategory/add"  title="Add SubCategory">
                     <i class="zmdi zmdi-plus"></i>
                         Add Sub Category
                    </a>
                </li>
               

            </ul>
        </li>

        <li class="sub-menu"  id="sizechartTab">

         
            <a href="javascript:;"><i class="zmdi zmdi-chart"></i>Size Charts</a>
            <ul>
                <li>
                    <a href="<%-adminpath%>sizecharts/add"  id="catList" title="catList">
                        <i class="glyph-icon icon-list"></i>
                        Add New Size Chart
                    </a>
                </li>

                <li>
                    <a href="<%-adminpath%>sizecharts/view"  id="catList" title="catList">
                        <i class="glyph-icon icon-list"></i>
                        View Size Charts
                    </a>
                </li>
            </ul>
        </li>

        <li class="sub-menu"  id="productsTab">

            <a href="javascript:;"><i class="zmdi zmdi-shopping-basket"></i>Products</a>
            <ul>
                <li>
                    <a href="<%-adminpath%>products/add"  id="addnewproduct" title="addnewproduct">
                        <i class="glyph-icon icon-list"></i>
                        Add New Product
                    </a>
                </li>

                <li>
                    <a href="<%-adminpath%>products/view"  id="listproduct" title="listproduct">
                        <i class="glyph-icon icon-list"></i>
                        View Products
                    </a>
                </li>
            </ul>
        </li>


       <!-- <li id="serviceTab">
            <a href="<%- adminpath %>service"><i class="zmdi zmdi-view-carousel"></i> Services</a>
        </li> <li id="profileTab">
            <a href="<%- adminpath %>profile/getprofile"><i class="zmdi zmdi-notifications"></i>Profile</a>
        </li>-->
        <li id="coupanTab">
            <a href="<%- adminpath %>coupans"><i class="zmdi zmdi-card-giftcard"></i> Coupans</a>
        </li>
        <li id="schudleTab">
            <a href="<%- adminpath %>schedule"><i class="zmdi zmdi-calendar"></i>Schedule</a>
        </li>
        <li id="orderTab">
            <a href="<%- adminpath %>orders"><i class="zmdi zmdi-format-list-bulleted"></i>Orders</a>
        </li>
        <li id="paymentTab">
            <a href="<%- adminpath %>payment"><i class="zmdi zmdi-money-box"></i>Payments</a>
        </li>
        <li class="sub-menu"  id="ratingtab">
          <a href="javascript:;"><i class="zmdi zmdi-star"></i>Rating & Reviews</a>
          <ul>
              <li>
                <a href="<%-adminpath%>ratings"  id="productratingtab" title="Product Rating">
                    <i class="zmdi zmdi-star"></i>
                    Product Rating
                </a>
              </li>
              <li>
                <a href="<%-adminpath%>ratings/company" id="myratingtab" title="My Rating">
                <i class="zmdi zmdi-star"></i>
                     My Rating
                </a>
              </li>
          </ul>
        </li>
        <li id="notificationTab">
            <a href="<%- adminpath %>notification"><i class="zmdi zmdi-notifications"></i>Notifications</a>
        </li>
       
    </ul>
</aside>
<%- include ('../partials/script') %>

<%- include('../partials/commonJs'); -%>
