<%- include ('../partials/header') %>
<%- include ('../partials/side_bar') %>
    <section id="content">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left"><h2>NOTIFICATION LIST</h2></div>
                    <div class="pull-right"><a href="javascript:;" onclick="deleteAll()"><button class="btn btn-primary waves-effect">Clear All</button></a></div>
                </div>
                <table id="data-table-command" class="table table-striped table-vmiddle">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-visible="false">ID</th>
                            <th data-column-id="name">Description</th>
                            <th data-column-id="Registered At">Timing</th>
                            <th data-column-id="commands" data-formatter="commands" data-sortable="false">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var t=0;t<data.length;t++) { %>
                            <tr>
                                <td><%-data[t].id %></td>
                                <td><%-data[t].notificationDescription%></td>
                                <td><%-commonMethods.formatAMPM(new Date(data[t].createdAt))%> </td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
<script type="text/javascript">
$(function() {
    $('#notificationTab').addClass('active');
    $('#notificationTab a[href^="<%- adminpath %>notification"]').addClass('active');
});
$(document).ready(function(){

        //Command Buttons
        var grid = $("#data-table-command").bootgrid({
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
            formatters: {
                "commands": function(column, row) {
                    return "<button type=\"button\" class=\"btn btn-icon command-delete waves-effect waves-circle\" data-row-id=\"" + row.id + "\"><span class=\"zmdi zmdi-delete\"></span></button>" ;
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function()
    {
        /* Executes after data is loaded and rendered */
        grid.find(".command-edit").on("click", function(e)
        {
            window.location.href="<%-adminpath%>employees/view/"+$(this).data("row-id");
        }).end().find(".command-delete").on("click", function(e)
        {
            var id = $(this).data("row-id");
            console.log(id);
            swal({   
                title: "Are you sure?",   
                text: "You will not be able to recover this  notification details!",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Yes, delete it!",   
                cancelButtonText: "No, cancel plx!",   
            }, function(isConfirm){   
                if (isConfirm) {    
                    console.log(id);
                    $.ajax({
                        type: 'GET',
                        url: '<%-adminpath%>notification/delete/'+id,
                        dataType: 'json',
                        success: function (response) {
                            if (response.code == '200') {
                                   showToastSuccess( response.message);
                                   //$(".page-loader").hide();
                                   setTimeout(function(){ window.location.reload(); },2500);
                            }
                            else{
                               //$(".page-loader").hide();
                                showToastError(response.message)
                            }
                        }
                    });  
                } 
            });
        });
    })
});

function deleteAll()
{
    swal({   
        title: "Are you sure?",   
        text: "You will not be able to recover these notifications!",   
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "#DD6B55",   
        confirmButtonText: "Yes, delete it!",   
        cancelButtonText: "No, cancel plx!",   
    }, function(isConfirm){   
        if (isConfirm) {    
            console.log(id);
            $.ajax({
                type: 'GET',
                url: '<%-adminpath%>notification/clearAll',
                dataType: 'json',
                success: function (response) {
                    if (response.code == '200') {
                           showToastSuccess( response.message);
                           //$(".page-loader").hide();
                           setTimeout(function(){ window.location.reload(); },2500);
                    }
                    else{
                       //$(".page-loader").hide();
                        showToastError(response.message)
                    }
                }
            });  
        } 
    });
}
</script>